.product-list{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
}
.product-list h2 {
    margin-bottom: 40px;
    font-family: 'Antonio', sans-serif;  
    font-size: 3rem;
    color: rgb(44, 42, 42);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.filter-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;  
}

.filter-buttons button{
   padding: 8px 16px;   
   border: 2px solid black;
   border-radius: 888px;
   font-size: 18px;
   font-weight: 600;
   font-family: 'Antonio', sans-serif;
   cursor: pointer;
}

.filter-buttons button:hover{
    transform: scale(1);
}

.product-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 40px;
    font-family: 'Antonio', sans-serif;
}
.product-card{
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
}
.product-image{
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 10px;
    height: 250px;
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out ;
}
.product-image:hover{
    transform: scale(1.5);
}

.product-info h4{
    font-size: 1.2rem;
    padding: 10px 0 5px;
    color: rgb(34, 29, 29);
} 
.product-info p{
    font-size: 1.5rem;
    color: rgb(117, 114, 114);
}
.add-button{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 20, 20);
    color: white;
    border:  none;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}
@media (max-width: 1024px){

    .product-list{
        max-width: 100%;
        margin: 0;
        padding: 15px;
    }

    .product-list h2{
        font-size: 2.4rem;
    }

    .product-display{
        gap: 18px;
    }
}

@media (max-width: 430px) {
    .product-list h2{
      font-size: 2rem;
    }
    .filter-buttons{
        flex-direction: column;   
        align-items: center; 
        gap: 12px;
    }
    .filter-buttons button {
       font-size: 14px;
    }
}

@media(max-width: 320px){
    
}