.product-detail{
    display: flex;
    padding: 80px;
}
.details-left img{
    width: 460px;
}
.details-right{
    padding: 70px;
    font-family: 'Antonio', sans-serif;
}
.details-right h3{
    font-size: 30px;
}
.details-right .p-price{
    font-size: 20px;
    color: red;
    margin-top: 10px;
}
.details-right .p-desc{
    font-size: 20px;
    color: #666;
    margin-top: 15px;
}
.details-right button{
    padding: 1rem 3.6rem;
    margin-top: 15px;
    border: none;
    background-color: red;
    color: wheat;
    font-weight: 600;
}

@media (max-width: 768px){

    .product-detail{
      flex-direction: column;   
      align-items: center;
      text-align: center;
    }
  
    .details-left img{
      width: 280px;
    }
  
    .details-right{
      max-width: 100%;
    }
  }
  @media (max-width:430px) {
    .details-right{
        padding: 0px;
    }
  }
  